*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-dark: rgb(13, 17, 19);
    --clr-light: #fff;
    --clr-accent: rgb(222, 52, 0);
    --clr-accent-dark: rgb(163, 38, 0);
    --clr-secondary: rgb(0, 76, 199);

    --br: 0.5em;

    --transition: tranform 200ms cubic-bez;
}

body {
    font-family: sans-serif;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: var(--clr-light);
    color: var(--clr-light);
}

.card img {
    height: 50vh;
}

.card {
    position: relative;
    overflow: hidden;
    /* border: 1px solid red; */
}

.card::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 98, 255, 0.2);
}

.wave {
    /* border: 1px solid red; */
    width: 120%;
    position: absolute;
    fill: var(--clr-dark);
    bottom: 0;
}

.wave1 {
    z-index: 2;
    bottom: -10px;
    transform: rotate(180deg);
}

.wave2 {
    bottom: 10px;
    z-index: 1;
    fill: rgba(34, 44, 60, 0.8);
    transform: rotate(185deg);
}

.wave3 {
    bottom: 30px;
    fill: rgba(0, 98, 255, 0.5);
    transform: rotate(190deg);
}

.line-grid {
    margin-block: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.line-container {
    display: grid;
    justify-items: center;
    align-items: center;
    text-align: center;
    width: 30rem;
    /* height: 30rem; */
    border: 1px solid red;
    background-color: var(--clr-dark);
    box-shadow: 10px 10px 20px rgb(63, 0, 0);
}

.line-container svg {
    width: 95%;
    height: 95%;
}

.line-container .line1,
.line-container .line2,
.line-container .line3,
.line-container .line4,
.line-container .line5,
.line-container .line6,
.line-container .line7,
.line-container .line8 {
    /* scale: 0.7; */
    stroke-dashoffset: 0;
    stroke: rgb(127, 255, 246);
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.7));

    animation: draw ease-in-out 20s infinite;
}

.line-container .line1 {
    --path-width: 6840;
    stroke-dasharray: var(--path-width);
}


.line-container .line2 {
    --path-width: 4000;
    stroke-dasharray: var(--path-width);
}

.line-container .line3 {
    --path-width: 5570;
    stroke-dasharray: var(--path-width);
}

.line-container .line4 {
    --path-width: 3920;
    stroke-dasharray: var(--path-width);
}

.line-container .line5 {
    --path-width: 10430;
    stroke-dasharray: var(--path-width);
}

.line-container .line6 {
    --path-width: 430;
    stroke-dasharray: var(--path-width);
    stroke-width: 1px;
}

.line-container .line7 {
    --path-width: 600;
    stroke-dasharray: var(--path-width);
    stroke-width: 1px;
}

.line-container .line8 {
    --path-width: 370;
    stroke-dasharray: var(--path-width);
    stroke-width: 1px;
}

@keyframes draw {
    0% {
        stroke: rgb(127, 255, 246);
        stroke-dashoffset: var(--path-width);
    }

    30%,
    70% {
        stroke: rgb(127, 255, 163);
        stroke-dashoffset: 0;
    }

    100% {
        stroke: rgb(255, 208, 127);
        stroke-dashoffset: var(--path-width);
    }
}