body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


nav>a {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border: 1px solid red;
    cursor: pointer;
}

.icon {
    width: 3rem;
}