:root {
    --clr-primary: hsl(237, 18%, 59%);
    --clr-secondary: hsl(345, 95%, 68%);
    --clr-secondary2: hsl(345, 95%, 72%);

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-500: hsl(236, 21%, 56%);
    --clr-neutral-600: hsl(236, 21%, 26%);
    --clr-neutral-700: hsl(234, 17%, 22%);
    --clr-neutral-800: hsl(235, 16%, 14%);
    --clr-neutral-900: hsl(234, 17%, 12%);

    --clr-linear-gradient: linear-gradient(to right, var(--clr-neutral-900), var(--clr-neutral-700));

    --ff-normal: 'Red Hat Text', sans-serif;
    --fs-normal: 0.875rem;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
    padding: 0;
}

/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
body {
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: var(--ff-normal);
    font-size: var(--fs-normal);
    background: var(--clr-linear-gradient);
}

/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background-image: url(images/bg-stars.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 75vh;
    text-transform: uppercase;
    line-height: 1;
}

.main__title {
    color: var(--clr-neutral-100);
    letter-spacing: 8px;
    font-size: 1.3rem;
    font-weight: 300;
}

.clock-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.main__clock:first-child {
    margin-right: 3rem;
}

.main__clock {
    width: 100%;
    display: grid;
    gap: 2rem;
    justify-content: center;
    align-content: center;
}

.clock {
    display: flex;
    gap: 0.2em;
    width: 100%;
}

.main__clock-content {
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 4px;
    color: var(--clr-neutral-500);
}

/* clock */
.main__clock-card {
    --_font-size: 5.4rem;
    --_padding: 1.5rem;
    --_width: 6rem;
    --_border-radius: 0.5rem;
    --_animate-time: 1ms;
    display: flex;
    flex-direction: column;
    position: relative;
    width: var(--_width);
    max-height: calc((var(--_font-size) / 2 + var(--_padding))*2);
    font-size: var(--_font-size);
    overflow: hidden;
    border-radius: var(--_border-radius);
    box-shadow: 0rem 0.4rem 0.1rem -0.1rem black;
}

.main__clock-card-top::before,
.main__clock-card-top::after,
.main__clock-card-bottom::before,
.main__clock-card-bottom::after {
    --_psudo-width: 0.5rem;
    content: '';
    position: absolute;
    width: var(--_psudo-width);
    aspect-ratio: 1;
    border-radius: 40%;
    background-color: var(--clr-neutral-800);
    z-index: 2;
}

.main__clock-card-top::before {
    bottom: calc(var(--_psudo-width) / 2 * -1);
    left: calc(var(--_psudo-width) / 2 * -1);
}

.main__clock-card-bottom::before {
    top: calc(var(--_psudo-width) / 2 * -1);
    left: calc(var(--_psudo-width) / 2 * -1);
}

.main__clock-card-top::after {
    bottom: calc(var(--_psudo-width) / 2 * -1);
    right: calc(var(--_psudo-width) / 2 * -1);
}

.main__clock-card-bottom::after {
    top: calc(var(--_psudo-width) / 2 * -1);
    right: calc(var(--_psudo-width) / 2 * -1);
}

.main__clock-card-top,
.main__clock-card::before,
.main__clock-card-bottom,
.main__clock-card::after {
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: var(--_width);
    height: calc(var(--_font-size) / 2 + var(--_padding));
    padding: var(--_padding);
    overflow: hidden;
}

.main__clock-card-top,
.main__clock-card::before {
    align-items: flex-start;
    background-color: var(--clr-neutral-700);
    color: var(--clr-secondary);
}

.main__clock-card-bottom,
.main__clock-card::after {
    align-items: flex-end;
    background-color: var(--clr-neutral-600);
    color: var(--clr-secondary2);
    border-top: 1px solid rgb(23, 23, 23);
}

.main__clock-card[data-flip="true"]::before {
    content: attr(data-numbertop);
    position: absolute;
    top: 0;
    z-index: 1;
    transform-origin: bottom;
    animation: topFlip var(--_animate-time) ease-in-out;
}

.main__clock-card[data-flip="true"]::after {
    content: attr(data-numberbottom);
    position: absolute;
    bottom: 0;
    z-index: 1;
    transform-origin: top;
    animation: bottomFlip var(--_animate-time) ease-in-out var(--_animate-time);
}

@keyframes topFlip {
    100% {
        transform: rotateX(90deg);
    }
}

@keyframes bottomFlip {
    0% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

/* clock */


/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/pattern-hills.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 25vh;
}

.footer__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}